.submit-box {
    background: linear-gradient(
        180deg,
        rgb(68.64, 86.15, 142.02) 0%,
        rgba(42.22, 78.19, 192.95, 0.58) 99.98%,
        rgba(10.58, 68.65, 253.94, 0.08) 99.99%,
        rgba(80, 101, 168, 0) 100%
    );
    border-radius: 25px;
    box-shadow: 7px 8px 4px #00000040;
    height: 20%;
    opacity: 0.7;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800;
    top: 50;
    left: 20%;
}

.submit-box .span {
    font-weight: 700;
    letter-spacing: 0.04px;
    font-family: "Gothic A1-Regular", Helvetica;
    font-size: 50px;
    letter-spacing: 0.03px;
    color: #FFFFFF;
}
