.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F2EEE3;
  height:  102vh; /* Full viewport height */
}

.profile .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:  100%;
  max-width:  800px; /* Adjust based on your design */
  margin:  0 auto;
}


.profile .group {
  height: 100px;
  left: 372px;
  position: relative;
  top: 204px;
  width: 1000px;
}

.profile .profile-sec {
  height: 100px;
  position: relative;
  width: 1002px;
}

.profile .overlap-group {
  border-radius: 20px;
  height: 100px;
  left: 0;
  position: relative;
  top: 0;
  width: 450px;
}

.profile .rectangle {
  background-color: #d9d9d9;
  border-radius: 20px;
  box-shadow: 9px 4px 4px #00000040;
  height: 100px;
  left: 0;
  opacity: 0.4;
  position: relative;
  top: 0;
  width: 450px;
}

.profile .text-wrapper {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 85px;
  letter-spacing: 0.32px;
  line-height: 22.5px;
  position: relative;
  text-align: center;
  top: 33px;
  width: 280px;
}

.profile .rectangle-2 {
  background-color: #d9d9d9;
  border-radius: 20px;
  box-shadow: 9px 4px 4px #00000040;
  height: 100px;
  left: 550px;
  opacity: 0.4;
  position: relative;
  top: 0;
  width: 450px;
}

.profile .profile-sec-2 {
  height: 100px;
  left: 372px;
  position: relative;
  top: 789px;
  width: 1002px;
}

.profile .text-wrapper-2 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 85px;
  letter-spacing: 0.32px;
  line-height: 22.5px;
  position: relative;
  text-align: center;
  top: 38px;
  width: 280px;
}

.profile .profile-sec-3 {
  height: 100px;
  left: 382px;
  position: relative;
  top: 403px;
  width: 992px;
}

.profile .text-wrapper-3 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 85px;
  letter-spacing: 0.32px;
  line-height: 22.5px;
  position: relative;
  text-align: center;
  top: 36px;
  width: 280px;
}

.profile .rectangle-3 {
  background-color: #d9d9d9;
  border-radius: 20px;
  box-shadow: 9px 4px 4px #00000040;
  height: 100px;
  left: 540px;
  opacity: 0.4;
  position: relative;
  top: 0;
  width: 450px;
}

.profile .overlap-wrapper {
  height: 101px;
  left: 607px;
  position: relative;
  top: 73px;
  width: 452px;
}

.profile .overlap {
  background-color: #0f314080;
  border-radius: 20px;
  box-shadow: 20px 10px 4px #00000040;
  height: 101px;
  position: relative;
  width: 450px;
}

.profile .text-wrapper-4 {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 72px;
  letter-spacing: 0.32px;
  line-height: 22.5px;
  position: relative;
  text-align: center;
  text-shadow: 0px 20px 4px #00000040;
  top: 29px;
  width: 307px;
}

.profile .profile-sec-4 {
  height: 100px;
  left: 372px;
  position: relative;
  top: 594px;
  width: 1002px;
}

.profile .text-wrapper-5 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 85px;
  letter-spacing: 0.32px;
  line-height: 22.5px;
  position: relative;
  text-align: center;
  top: 40px;
  width: 280px;
}

