.profile {
  position:relative;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  height: 100vh;
  padding-left: 176px; /* Adjusted padding to keep space on the left */
}

.div-2 {
  display: flex;
  flex-direction: column; /* Adjusted to stack rectangles vertically */
  align-items: flex-start; /* Align rectangles to the left */
  margin-left: 200px; /* Adjusted margin to provide spacing between rectangles and the left edge */
}

.rectangle {
  width: 450px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 20px;
  opacity: 0.4;
  background: #D9D9D9;
  margin-bottom: 20px; /* Adjusted margin to provide spacing between rectangles */
  position: relative;
}

.rectangle-2 {
  width: 450px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 20px;
  opacity: 0.4;
  background: #D9D9D9;
  margin-left: 75px; /* Adjust margin as needed */
}

.text-wrapper {
  margin-top: 10px;
}

.overlap-group,
.overlap,
.overlap-2,
.overlap-3 {
  display: flex;
  align-items:flex-start; /* Align items horizontally */
}

.div-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-title {
  position: absolute; /* Position the title */
  top: 20px; /* Adjust top position */
  left: 50%; /* Align at the horizontal center */
  transform: translateX(-50%); /* Center horizontally */
  font-size: 24px; /* Adjust font size */
  font-weight: bold; /* Make it bold */
  margin-left: 95px;
  margin-top: 50px;
}

.rectangle-text {
  position: absolute; /* Position the text */
  top: 50%; /* Align at the vertical center */
  left: 50%; /* Align at the horizontal center */
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  color: black; /* Set text color to black */
  font-weight: bold; /* Make text bold */
  font-size: 18px; /* Increase font size */
}
